@model IEnumerable<TaskManagementSystem.Models.Project>

@{
    ViewBag.Title = "AllProjects";
}

@if (ViewBag.Exceeded != null)
{
    <h2>Projects Exceeded Budget</h2>
}
else
{
<div class="navigate">
    <div class="nav1">
        <button class="question" type="button">
            <p class="link"> 
                @Html.ActionLink("Create New Project", "Create", null, new { style = "color: white;text-decoration:none" }) 
            </p>
        </button>
    </div>
    <div class="nav1">
        <button class="question" type="button">
            <p class="link"> 
                <a class="link" href="@Url.Action("Create", "ProjectTasks", new { style = "color: white;text-decoration:none" })">
                    Create New Task
                </a>
            </p>
        </button>
    </div>
    <div class="nav2">
        <a href="@Url.Action("Index", "Notifications", new { style = "color: white;text-decoration:none" })" style="font-size:20px">
            <i class="fa fa-bell"></i>(@ViewBag.NotificationCount)
        </a>
        <div class="question2">
            <a class="link" href="@Url.Action("UnFinishedPassedDeadline", "ProjectTasks", new { style = "color: white;text-decoration:none" })">
                Tasks Passed Deadline
            </a>
        </div>
        <div class="question2">
            <a class="link" href="@Url.Action("GetProjectsExceededBudget", "Projects", new { style = "color: white;text-decoration:none" })">
                Over Budget Projects
            </a>
        </div>
        <div class="question2">
            <a class="link" href="@Url.Action("ShowAllUsers", "Admins", new { style = "color: white;text-decoration:none" })">
                Show All Users
            </a>
        </div>
    </div>
</div>
}
<br />

@foreach (var item in Model)
{
<h3>Project: @Html.ActionLink(item.Name, "SortTasks", new { sortBy = "completetion", projectId = @item.Id })</h3>
    <table class="table">
        <tr>
            <th>
                Project by:
            </th>
            <th>
                Project Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (item.Priority == TaskManagementSystem.Models.Priority.Low)
            {
                <td style="color:white" })>
                    <div class="tagL">@Html.DisplayFor(modelItem => item.Priority)</div>
                </td>
            }
            else if (item.Priority == TaskManagementSystem.Models.Priority.Medium)
            {
                <td style="color:white" })>
                    <div class="tagM">@Html.DisplayFor(modelItem => item.Priority)</div>
                </td>
            }
            else if (item.Priority == TaskManagementSystem.Models.Priority.High)
            {
                <td style="color:white" })>
                    <div class="tagH">@Html.DisplayFor(modelItem => item.Priority)</div>
                </td>
            }
            else if (item.Priority == TaskManagementSystem.Models.Priority.None)
            {
                <td style="color:white" })>
                    <div class="tagN">@Html.DisplayFor(modelItem => item.Priority)</div>
                </td>
            }
            <td>
                @if (item.Deadline == null)
                {<p>—</p> }
                else
                { @Html.DisplayFor(modelItem => item.Deadline)}
            </td>
            <td>
                @if (item.StartDate == null)
                {<p>—</p> }
                else
                { @Html.DisplayFor(modelItem => item.StartDate)}
            </td>
            <td>
                @if (item.FinishDate == null)
                {<p>—</p> }
                else
                { @Html.DisplayFor(modelItem => item.FinishDate)}
            </td>
            <td>
                @if (item.Budget <= 0)
                {<p>$0</p>}
                else
                { <p>$@Html.DisplayFor(modelItem => item.Budget)</p>}
            </td>
            <td>
                @if (item.TotalCost <= 0)
                {<p>$0</p>}
                else
                {<p>$@Html.DisplayFor(modelItem => item.TotalCost)</p>}
            </td>
            <td>
            </td>
            <td>
                <button class="question3" type="button" style="background: #865e8c;">
                    <p class="link"> @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { style = "color: white;text-decoration:none" }) </p>
                </button>
                <button class="question3" type="button" style="background: #865e8c;">
                    <p class="link"> @Html.ActionLink("Details", "Details", new { id = item.Id }, new { style = "color: white;text-decoration:none" }) </p>
                </button>
                <button class="question3" type="button" style="background: #865e8c;">
                    <p class="link"> @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { style = "color: white;text-decoration:none" }) </p>
                </button>
            </td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Developer Email")
            </th>
            <th>
                @Html.DisplayName("task Name")
            </th>
            <th>
                @Html.DisplayName("Deadline")
            </th>
            <th>
                @Html.DisplayName("CompletionPercentage")
            </th>
            <th>
                @Html.DisplayName("Priority")
            </th>
            <th></th>
        </tr>

        <h3>Tasks:</h3>
        @foreach (var task in item.ProjectTasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => task.ApplicationUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => task.Name)
                </td>
                <td>
                    @if (item.Deadline == null)
                    {<p>—</p> }
                    else
                    { @Html.DisplayFor(modelItem => item.Deadline)}
                </td>
                <td class="prog">
                    <div class="percentages">
                        @Html.DisplayFor(modelItem => task.CompletionPercentage)%
                    </div>
                    <div class="bar">
                        <progress max="100" value="@task.CompletionPercentage"></progress>
                    </div>
                </td>
                @if (task.Priority == TaskManagementSystem.Models.Priority.Low)
                {
                    <td style="color:white" })>
                        <div class="tagL">@Html.DisplayFor(modelItem => task.Priority)</div>
                    </td>
                }
                else if (task.Priority == TaskManagementSystem.Models.Priority.Medium)
                {
                    <td style="color:white" })>
                        <div class="tagM">@Html.DisplayFor(modelItem => task.Priority)</div>
                    </td>
                }
                else if (task.Priority == TaskManagementSystem.Models.Priority.High)
                {
                    <td style="color:white" })>
                        <div class="tagH">@Html.DisplayFor(modelItem => task.Priority)</div>
                    </td>
                }
                else if (task.Priority == TaskManagementSystem.Models.Priority.None)
                {
                    <td style="color:white" })>
                        <div class="tagN">@Html.DisplayFor(modelItem => task.Priority)</div>
                    </td>
                }
                <td>
                    <button class="question3" type="button" style="background: #6160a1;">
                        <p class="link">@Html.ActionLink("Update Priority", "UpdatePriority", "ProjectTasks", new { id = task.Id }, new { style = "color: white;text-decoration:none" }) </p>
                    </button>
                    <button class="question3" type="button" style="background: #6160a1;">
                        <p class="link">@Html.ActionLink("Update Deadline", "UpdateDeadline", "ProjectTasks", new { id = task.Id }, new { style = "color: white;text-decoration:none" }) </p>
                    </button>
                    <button class="question3" type="button" style="background: #6160a1;">
                        <p class="link">@Html.ActionLink("Assign Developer", "AssignDeveloper", "ProjectTasks", new { id = task.Id }, new { style = "color: white;text-decoration:none" }) </p>
                    </button>
                    <button class="question3" type="button" style="background: #6160a1;">
                        <p class="link">@Html.ActionLink("Details", "Details", "ProjectTasks", new { id = task.Id }, new { style = "color: white;text-decoration:none" }) </p>
                    </button>
                    <button class="question3" type="button" style="background: #6160a1;">
                        <p class="link">@Html.ActionLink("Delete", "Delete", "ProjectTasks", new { id = task.Id }, new { style = "color: white;text-decoration:none" }) </p>
                    </button>
                </td>
            </tr>
        }
    </table>
    <hr style="height:2px;border:none;color:#333;background-color:#333" />
}
